/*** Brand Colors ***/
/*** Base Mixins ***/
/*** Font Sizes ***/

/*** Page Backgrounds ***/
/*html {
  background: url(images/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

/*** Reusable ***/

/*** /Reusable ***/

/*** Structure ***/

/***  /Structure ***/

/*** Custom Fonts ***/
@font-face {
  font-family: 'BakerSignetStdRegular';
  src: url('fonts/bakersignetstd-webfont.eot');
  src: url('fonts/bakersignetstd-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/bakersignetstd-webfont.woff') format('woff'), url('fonts/bakersignetstd-webfont.ttf') format('truetype'), url('fonts/bakersignetstd-webfont.svg#BakerSignetStdRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'breezi_icon_setregular';
  src: url('fonts/breezi_font-webfont-webfont.eot');
  src: url('fonts/breezi_font-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/breezi_font-webfont-webfont.woff2') format('woff2'), url('fonts/breezi_font-webfont-webfont.woff') format('woff'), url('fonts/breezi_font-webfont-webfont.ttf') format('truetype'), url('fonts/breezi_font-webfont-webfont.svg#breezi_icon_setregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
